{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}


{% block content %}
<style>
    h1 {
        font-size: 4rem;
    }
</style>
<h1><br>Welcome to graphical password authentication{{ request.user.username }}</h1>
<br>
<p><style>body{font-size: 1.7rem;}</style>
    Depending on the Authentication status, you will be seeing login/logout button at the top right.
    <br>
    Login &nbsp : To continue login
    <br>
    Logout: To sign out of the application
</p>
<br>
<h1>Authentication status: {{request.user.is_authenticated}}</h1>
{% endblock %}